In [2]:
# Import libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import pandas as pd

In [5]:
data = {
    "size": [800, 1000, 1200, 1500, 1800],
    "bedrooms": [2,2,3,3,4],
    "price": [150000, 180000, 220000, 260000, 300000]
}

df = pd.DataFrame(data)
df

   size  bedrooms   price
0   800         2  150000
1  1000         2  180000
2  1200         3  220000
3  1500         3  260000
4  1800         4  300000

In [6]:
# Split input (X) and output (y)
X = df[["size", "bedrooms"]]
y = df["price"]

In [9]:
# Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)#random state are the same at anytime

In [10]:
# Create and train the model
model = LinearRegression()
model.fit(X_train, y_train)
print("✅ Model training complete!")

✅ Model training complete!

In [11]:
# Testing
predictions = model.predict(X_test)

# Evaluation
mse = mean_squared_error(y_test, predictions)
print("Predictions:", predictions)
print("Mean Squared Error:", mse)

Predictions: [182368.42105263]
Mean Squared Error: 5609418.282548585